 .u-section-1 {
  background-image: none;
  min-height: 921px;
}

.u-section-1 .u-image-1 {
  height: 543px;
  margin-top: 0;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-list-1 {
  grid-auto-rows: 100%;
  width: 1140px;
  margin: -469px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 177px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 40px 8px;
}

.u-section-1 .u-icon-1 {
  width: 46px;
  height: 46px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px auto 0 6px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -36px 0 0 60px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 40px 0 40px 8px;
}

.u-section-1 .u-icon-2 {
  width: 46px;
  height: 46px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px auto 0 6px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -36px 0 0 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 40px 0 40px 8px;
}

.u-section-1 .u-icon-3 {
  width: 46px;
  height: 46px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 26px auto 0 6px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -36px 0 0 60px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 782px;
  min-height: 445px;
  height: auto;
  background-image: none;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 165px auto 60px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-1 .u-image-2 {
  width: 185px;
  height: 185px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -89px auto 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 37px 0 0;
}

.u-section-1 .u-text-5 {
  width: 529px;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 145px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -69px;
    margin-left: 64px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -49px;
    margin-bottom: -3px;
    margin-left: 64px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -48px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-left: 64px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    height: 632px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
    min-height: 206px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -72px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -36px;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -117px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 465px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -78px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 760px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 407px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 503px;
    margin-left: calc(((100% - 540px) / 2) + -11px);
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    width: 520px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 1003px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -69px;
  }

  .u-section-1 .u-text-5 {
    width: 282px;
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-text-1 {
  width: 805px;
  font-weight: 700;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 813px;
  margin: 21px auto 0;
}

.u-section-2 .u-group-1 {
  width: 939px;
  min-height: 255px;
  height: auto;
  --animation-custom_in-scale: 0.3;
  margin: 25px auto 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-group-2 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: 10px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px auto 0 659px;
}

.u-section-2 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px auto 0 216px;
}

.u-section-2 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-group-5 {
  width: 156px;
  height: auto;
  transition-duration: 0.5s;
  min-height: 156px;
  margin: -156px 280px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 auto;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-bottom: -155px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-4 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-5 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-text-6 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 215px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 20px;
  }

  .u-section-2 .u-group-2 {
    width: 141px;
    min-height: 141px;
    margin-top: 68px;
    margin-left: 27px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-3 {
    width: 141px;
    min-height: 141px;
    margin-top: -143px;
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-4 {
    width: 141px;
    min-height: 141px;
    margin-top: -141px;
    margin-right: 189px;
  }

  .u-section-2 .u-btn-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-5 {
    width: 141px;
    min-height: 141px;
    margin-top: -141px;
    margin-right: 189px;
  }

  .u-section-2 .u-btn-4 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
  }

  .u-section-2 .u-group-1 {
    min-height: 392px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 150px;
    min-height: 150px;
    margin-top: 48px;
    margin-left: 104px;
  }

  .u-section-2 .u-group-3 {
    width: 150px;
    min-height: 150px;
    margin-top: 39px;
    margin-left: 104px;
  }

  .u-section-2 .u-group-4 {
    width: 150px;
    min-height: 150px;
    margin-top: -149px;
    margin-left: 274px;
  }

  .u-section-2 .u-group-5 {
    width: 150px;
    min-height: 150px;
    margin-top: -149px;
    margin-left: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-1 {
    min-height: 319px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    width: 141px;
    min-height: 141px;
    margin-top: 19px;
    margin-left: 18px;
  }

  .u-section-2 .u-group-3 {
    width: 141px;
    min-height: 141px;
    margin-top: 20px;
    margin-left: 181px;
  }

  .u-section-2 .u-group-4 {
    width: 141px;
    min-height: 141px;
    margin-top: -141px;
    margin-right: 179px;
    margin-left: 18px;
  }

  .u-section-2 .u-group-5 {
    width: 141px;
    min-height: 141px;
    margin-top: -141px;
    margin-right: 179px;
    margin-left: 18px;
  }
}

.u-section-2 .u-group-2,
.u-section-2 .u-group-2:before,
.u-section-2 .u-group-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-2.u-group-2.u-group-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f9c3b4 !important;
}

.u-section-2 .u-group-2.u-group-2.u-group-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f9c3b4 !important;
}

.u-container-layout:hover > .u-section-2 .u-group-2:before {
  background-color: #ffffff !important;
}

.u-container-layout:hover > .u-section-2 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-3.u-text-3.u-text-3:hover {
  color: #f06e49 !important;
}

.u-section-2 .u-text-3.u-text-3.u-text-3.hover {
  color: #f06e49 !important;
}

.u-container-layout:hover > .u-section-2 .u-text-3 {
  color: #f06e49 !important;
}

.u-container-layout.hover > .u-section-2 .u-text-3 {
  color: #f06e49 !important;
}

.u-section-2 .u-group-4,
.u-section-2 .u-group-4:before,
.u-section-2 .u-group-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-4.u-group-4.u-group-4:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f9c3b4 !important;
}

.u-section-2 .u-group-4.u-group-4.u-group-4.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f9c3b4 !important;
}

.u-container-layout:hover > .u-section-2 .u-group-4:before {
  background-color: #ffffff !important;
}

.u-container-layout:hover > .u-section-2 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-5,
.u-section-2 .u-text-5:before,
.u-section-2 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-5.u-text-5.u-text-5:hover {
  color: #f65921 !important;
}

.u-section-2 .u-text-5.u-text-5.u-text-5.hover {
  color: #f65921 !important;
}

.u-container-layout:hover > .u-section-2 .u-text-5 {
  color: #f65921 !important;
}

.u-container-layout.hover > .u-section-2 .u-text-5 {
  color: #f65921 !important;
}

.u-section-2 .u-group-3,
.u-section-2 .u-group-3:before,
.u-section-2 .u-group-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-3.u-group-3.u-group-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f65921 !important;
}

.u-section-2 .u-group-3.u-group-3.u-group-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f65921 !important;
}

.u-container-layout:hover > .u-section-2 .u-group-3:before {
  background-color: #ffffff !important;
}

.u-container-layout:hover > .u-section-2 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  color: #f65921 !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  color: #f65921 !important;
}

.u-container-layout:hover > .u-section-2 .u-text-4 {
  color: #f1c50e !important;
}

.u-container-layout.hover > .u-section-2 .u-text-4 {
  color: #f1c50e !important;
}

.u-section-2 .u-group-5,
.u-section-2 .u-group-5:before,
.u-section-2 .u-group-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-group-5.u-group-5.u-group-5:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f9c3b4 !important;
}

.u-section-2 .u-group-5.u-group-5.u-group-5.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
  border-color: #f9c3b4 !important;
}

.u-container-layout:hover > .u-section-2 .u-group-5:before {
  background-color: #ffffff !important;
}

.u-container-layout:hover > .u-section-2 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before,
.u-section-2 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-6.u-text-6.u-text-6:hover {
  color: #f65921 !important;
}

.u-section-2 .u-text-6.u-text-6.u-text-6.hover {
  color: #f65921 !important;
}

.u-container-layout:hover > .u-section-2 .u-text-6 {
  color: #f65921 !important;
}

.u-container-layout.hover > .u-section-2 .u-text-6 {
  color: #f65921 !important;
} .u-section-3 {
  background-image: url("images/hghhy.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 589px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 588px;
  left: auto;
  right: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 589px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 26px auto 0 0;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-2 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-4 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-6 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-7 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-list-icon-8 {
  color: rgb(33, 150, 243) !important;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  background-image: none;
  margin: 36px auto 0 0;
  padding: 15px 61px 17px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 541px;
    background-position: 76.78% 50%;
  }

  .u-section-3 .u-image-1 {
    inset: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 442px;
    background-position: 70.84% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 442px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px 30px 30px 40px;
  }
}